# CloudFlare 組件設定
NPM_FLAGS=--include=dev

# API 設定
VITE_API_URL=https://api.memedam.com

# 應用程式設定
VITE_APP_TITLE=MemeDex
VITE_APP_VERSION=1.0.0

# 開發環境設定
NODE_ENV=development 
NODE_VERSION=22.16.0
VITE_DEBUG=false

#Google reCAPTCHA
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key

# Cloudinary 設定
VITE_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name


